.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

input {
  width: 30%; /* ancho fijo en escritorio */
  padding: 1rem;
  margin-bottom: 1.5rem;
  background-color: #f2f4f3;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  box-sizing: border-box;
  outline: none;
  max-width: 400px; /* para que no crezca demasiado */
}



/* Como en tu JSX ya no usas .boton-container, 
   si decides usarlo envuelve el botón en un div con esta clase para controlar ancho y centrado */

.links {
  display: flex;
  flex-direction: block; 
  justify-content: space-between;
  align-items: center;
  gap: 1rem; /* espacio entre los links */
  margin-top: 0; /* ya no necesitas margen grande arriba */
  width: 100%;
  max-width: 400px; /* para que no crezca demasiado */
  margin-left: auto;
  margin-right: auto;
  
}

.links a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  margin-top: 2rem;

}

/* RESPONSIVE para pantallas pequeñas */
@media (max-width: 600px) {
  input, .boton-container, .links {
    width: 90%; /* ocupa casi todo el ancho en móvil */
  }
  input {
    padding: 1.2rem;
    font-size: 1rem;
  }
  .boton-container {
    margin-bottom: 1.5rem;
  }
  .links {
    gap: 0.8rem;
  }
  .links a {
    font-size: 1rem;
  }
}
