.formContainer {
  width: 100%;
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.buttonWrapper :global(.button) {
  width: 100%;
}

.notification {
  padding: 12px 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.notification.success {
  background-color: rgba(25, 196, 100, 0.8);
  color: white;
}

.notification.error {
  background-color: rgba(255, 48, 2, 0.8);
  color: white;
}
