.header {
  display: flex;
  align-items: center;
}

.header__green {
  background-color: rgb(25, 196, 100, 1);
  flex-basis: 40%;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 16px 16px;
  padding: 0;
}

.header__title {
  color: white;
  font-size: 1.8em;
  font-weight: 500;
}

.header__other {
  padding-inline: 24px;
  padding-block: 8px;
  flex-basis: 60%;
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__buttons {
  display: flex;
  gap: 16px;
}

@media (max-width: 768px) {
  .header {
    display: block;
  }

  .header__green {
    padding-block: 16px;
  }

  .header__other {
    display: block;
  }

  .header__buttons {
    margin-top: 24px;
    display: flex;
    gap: 16px;
  }

  .header__buttons div {
    width: 100%;
  }
}
