.button {
  /* Estilos base para todos los botones */
  padding: 8px 16px; /* Espacio interno del botón */
  border: none; /* Sin borde por defecto */
  border-radius: 8px; /* Bordes redondeados */
  font-size: 1.3em; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border 0.3s ease; /* Añade 'border' a la transición */
  /* text-align: center; */ /* REMOVE or comment out this line as flexbox will handle horizontal centering */

  width: auto;
  white-space: normal;
  margin: 0;


  display: flex;
  justify-content: center; 
  align-items: center;

}


.green {
  background-color: rgba(25, 196, 100, 1);
  color: white;
}

.lightGray {
  background-color: rgb(255, 255, 255);
  color: #333;
}

.red {
  background-color: rgba(255, 48, 2, 1);
  color: red;
}

.yellow {
  background-color: rgba(255, 237, 41, 1);
  color: #333;
}

/* ¡NUEVA CLASE para el borde verde! */
.greenBorder {
  border: 2px solid rgba(25, 196, 100, 1);
 
}


/* Efectos al pasar el ratón por encima (hover) */
.button:hover {
  opacity: 0.9;
}

/* Deshabilitar el cursor cuando el botón está deshabilitado */
.button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

@media (max-width: 600px) {
  .button {
    width: 100%; /* O el ancho que necesites, como 200px si no quieres que sea todo el ancho */
  }
}
