.header {
  width: 100%;
  background-color: rgba(25, 196, 100, 1);
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.headerText {
  color: white;
  font-size: 1.1em;
  margin: 0;
  font-weight: 500;
}
