.searchContainer {
  /* Contenedor principal de la barra de búsqueda */
  display: flex; /* Para alinear el input y el botón/icono */
  align-items: center; /* Centra verticalmente los elementos */
  background-color: rgba(
    241,
    243,
    242,
    1
  ); /* El color de fondo gris claro solicitado */
  border-radius: 10px; /* Bordes redondeados */
  margin-bottom: 0;
  padding: 8px 15px; /* Espacio interno del contenedor */
  width: auto;
  /* width: 90%; Ancho de la barra de búsqueda, ajusta según necesidad */
  /* max-width: 500px; Ancho máximo para pantallas grandes */
  /* margin: 20px auto; Centra el componente horizontalmente y da margen vertical */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
}

.searchInput {
  /* Estilos del campo de entrada de texto */
  /* flex-grow: 1; Hace que el input ocupe el espacio disponible */
  border: none; /* Sin borde */
  background-color: transparent; /* Fondo transparente para que el color del contenedor se vea */
  outline: none; /* Elimina el contorno al hacer focus */
  font-size: 1.1em; /* Tamaño de la fuente del texto */
  color: #333; /* Color del texto */
  padding: 5px 0; /* Pequeño padding vertical */
  margin: 0;
  width: auto;
  max-width: 100%;
}

.searchInput::placeholder {
  /* Estilos para el texto de marcador de posición */
  color: #888; /* Un color más suave para el placeholder */
}

.searchButton {
  /* Estilos del botón o área del icono de búsqueda */
  background: none; /* Sin fondo */
  border: none; /* Sin borde */
  cursor: pointer; /* Cursor de puntero */
  padding: 0 5px; /* Pequeño padding alrededor del icono */
  display: flex; /* Para centrar el icono si es necesario */
  align-items: center; /* Centra el icono verticalmente */
  justify-content: center; /* Centra el icono horizontalmente */
  height: auto;
  width: auto;
}

.searchIcon {
  /* Estilos del icono SVG */
  width: 24px; /* Tamaño del icono, ajusta según sea necesario */
  height: 24px; /* Tamaño del icono */
  filter: brightness(0) invert(0.2); /* Oscurece el SVG para que se vea gris/negro */
}

/* Opcional: Estilo al pasar el ratón por el botón de búsqueda */
.searchButton:hover .searchIcon {
  filter: brightness(0) invert(0.1); /* Ligeramente más oscuro al pasar el ratón */
}
